@import './fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-brandom text-primary antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-havre;
  }
}

.portableText ul {
  list-style: disc;
  padding-left: 22px;
}

.portableText a {
  font-family: inherit !important;
  text-decoration: underline;
}

@media (min-width: 1440px) {
  .portableText ul {
    padding-left: 1.527vw;
  }
}

.swiper-button-disabled {
  opacity: 0.5 !important;
}

.richtext-page {
  ul {
    @apply flex flex-col space-y-5;
  }

  li {
    @apply leading-[1.5];
  }

  p {
    @apply leading-[1.75];
  }
}

.remove-select-caret {
  &::-ms-expand {
    display: none;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
